/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: #e7e3db;
}

.body{
    background-color: rgb(92, 92, 90);
}

.footer{
    background-color: #547698;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color{   /* navbar background color */
    background-color: #547698;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #e7e3db;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #e7e3db;
    padding: 1px;
}

.showcase{
    background-color: #aba38f; /*#0096c7*/
}

.procedure-image{
    width: 150px;
    height: auto;
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}